[submodule "themes/sam"]
	path = themes/sam
	url = git@github.com:vickylai/hugo-theme-sam.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = git@github.com:halogenica/beautifulhugo.git
